@model IEnumerable<FilmInfo.Models.Film>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{


    <dl class="dl-horizontal" >
        <dd>
            <img src="@Url.Content(@item.PosterUrl)"  style="margin-bottom: 10px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.OriginalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RussianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.RussianName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Slogan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.KPRatings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMDbRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.IMDbRatings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Description)
        </dd>
        <dd>
            <p>@Html.ActionLink("Details", "Details", new { id = item.Id })</p>

        </dd>
    </dl>

  
}


<div class="mypaginationclass" data-bootpag='{"total": @ViewBag.count,"page": @ViewBag.CurrentPage, "maxVisible": @ViewBag.PageSize, "href": "@Url.Action("Index")?page={{number}}" , "firstLastUse": "true", "first": " ←" ,"last": " →" }'>

</div>
@Styles.Render("~/Content/mycss.css")
@section scripts {
    @Scripts.Render("~/scripts/jquery.bootpag.js")
    @Scripts.Render("~/scripts/app/paginationElement.js")

}
